body {
  background-color: #f3ffff
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3ffff;
}

li {
  float: right;
  list-style-type: none;
  color: #f3ffff;
}

li p {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;

}

li  a:hover {
    color: grey;
  }

/* Slideshow container */
.slideshow-container {
  max-width: 85%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .home .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #f3ffff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.flex-container {
  display: flex;
  position: relative;
  background-image: url(kioskBackground.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  border: 5px solid #000000;
  
  
}

.flex-container > div {
  display: flex;
  background-image: url(modalBackgroundMain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid #000000;
  color: rgb(0, 0, 0);
  width: 80%;
  margin: 10px;
  padding-top: 5%;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 4px 4px 0px 1px  rgb(0, 0, 0);
  font-size: 30px;
  height: fit-content;
  overflow: hidden;
  display: inline-block;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-image: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* Modal Content/Box */
.modal-content {
  background-image: url(modalBackgroundMain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15% auto; /* 15% from the top and centered */
  padding-top: 80px;
  border: 5px solid #000000;
  box-shadow: 4px 4px 0px 1px  rgb(0, 0, 0);
  width: 80%; /* Could be more or less, depending on screen size */
}

/*Button */
button:hover {
    color: grey;


/*Navigation */

}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: black;
  position: fixed;
  height: 90vh;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.maincontent {
  margin-left: 300px;
  padding: 1px 16px;
  height: ;
  width: ;
  color: white;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.maincontent {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.video {
  text-align: center;
  border: 5px solid #000000;
  position: flex;
  height: 100%; 
  width: 100%;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  text-align: center;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


.button-main {
  padding: 0.6em 2em;
  border: 1px rgb(0, 0, 0) solid;
  outline: 2px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background: #c3c3c3;
  box-shadow: 4px 4px 0px 1px  rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  z-index: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 2px;
}

.button-main:hover {
  background-color: #d3d3d3;
}
